# CARTO Basemaps API Key
CARTO_API_KEY=cb1_3xoj_1_f33b361506cf6c1f100c6055
VITE_CARTO_API_KEY=cb1_3xoj_1_f33b361506cf6c1f100c6055

# Optional Kaggle API
KAGGLE_USERNAME=
KAGGLE_KEY=

# Service Config
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
PORT=8000
